name: Demo pull with tags

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - name: Pull from Lokalise
        uses: ./.github/actions/pull
        with:
          api_token: ${{ secrets.LOKALISE_API_TOKEN }}
          project_id: 97629107673c93d1a4fc70.11630567
          translations_path: |
            packs
          file_format: yml
          additional_params: 